
body {
    background: linear-gradient(180deg, #65625a 0%, #4f5352 10%, #4f5352 60%, #65625a 100%);
}
a {
	
}

#logo{
	background-image:url("../img/logo_haze.png");
}

.cloud1, .cloud2, .cloud3, .cloud4, .cloud-big
{
    background-color: #CDD4CB;
    background-image: -webkit-linear-gradient(top, #CDD4CB, #BCBFAA);
    background-image: -moz-linear-gradient(top, #CDD4CB, #BCBFAA);
    background-image: -ms-linear-gradient(top, #CDD4CB, #BCBFAA);
    background-image: -o-linear-gradient(top, #CDD4CB, #BCBFAA);
}

.cloud1:after, .cloud3:after, .cloud4:after, .cloud2:after, .cloud-big:after,
.cloud1:before, .cloud2:before, .cloud3:before, .cloud4:before, .cloud-big:before {
     background-color: #CDD4CB;
    background-image: -webkit-linear-gradient(top, #D8E2E1, #C0C4B2);
    background-image: -moz-linear-gradient(top, #D8E2E1, #C0C4B2);
    background-image: -ms-linear-gradient(top, #D8E2E1, #C0C4B2);
    background-image: -o-linear-gradient(top, #D8E2E1, #C0C4B2);
}

.cloud1-more, .cloud2-more, .cloud3-more, .cloud4-more, .cloud-big-more, .cloud3-more:after, .cloud4-more:after {
    background-color: #CDD4CB;
    background-image: -webkit-linear-gradient(top, #DDE8EB, #C0C4B2);
    background-image: -moz-linear-gradient(top, #DDE8EB, #C0C4B2);
    background-image: -ms-linear-gradient(top, #DDE8EB, #C0C4B2);
    background-image: -o-linear-gradient(top, #DDE8EB, #C0C4B2);
}

.cloud1-more:before, .cloud2-more:before, .cloud2-more:after, .cloud3-more:before, .cloud4-more:before,
.cloud-big-more:before, .cloud-big-more:after, .cloud1-more:after {
    background-color: #CDD4CB;
    background-image: -webkit-linear-gradient(top, #DDE8EB, #C7CDC0);
    background-image: -moz-linear-gradient(top, #DDE8EB, #C7CDC0);
    background-image: -ms-linear-gradient(top, #DDE8EB, #C7CDC0);
    background-image: -o-linear-gradient(top, #DDE8EB, #C7CDC0);
}
