
body {
    background-color:#44566A;
    background-image:url("../img/bg_night.png");
    background-repeat:repeat;
    color:#fff;
}
a {
	color:#ccc;
}
#info_circle {
   
}
#logo{
	background-image:url("../img/logo_night.png");
}
.smalllogo
{
	background-image:url("../img/night_icon.png");
}
.clothes_text {
    color:#fff;
}

#clothes_line {
    border-color:#fff;
}


#forum_grass {
    background-image:url("../img/forum_grass_night.png");
}

#bg_map {
    background-image:url("../img/bg_map_night.png");
}

#bg_grass {
    background-image:url("../img/bg_grass_night.png");
}

#bg_backHills {
    background-image:url("../img/bg_backHills_night.png");
}

#bg_hills {
    background-image:url("../img/bg_hills_night.png");
}

#lion {
    background-image:url("../img/lion_night.png");
    height:220px;
    margin-top:-20px;
    margin-left:50px;
}

.cloud-lg1{
	background-image:url("../img/cloud-lg1_night.png");
	width:198;
	height:79;
}
.cloud-lg1-big{
	background-image:url("../img/cloud-lg1_night.png");
	width:179;
	height:61;
}
.cloud-lg2{
	background-image:url("../img/cloud-lg2_night.png");
	
}
.cloud-lg2-big{
	background-image:url("../img/cloud_lion_night.png");
	width:254;
	height:102;
}
.cloud-lg3{
		background-image:url("../img/cloud-lg3_night.png");
		
}
.cloud-lg3-big{
	background-image:url("../img/cloud_lion_night.png");
	width:254;
	height:102;
		
}
.cloud-lg4{
		background-image:url("../img/cloud_lion_night.png");
		width:254;
	height:102;
		
}
.cloud1, .cloud2, .cloud3, .cloud4, .cloud-big {
    background-color: #5A7BA2;
    background-image: -webkit-linear-gradient(top, #567799 10%, #4D698A);
    background-image: -moz-linear-gradient(top, #5A7BA2, #4D698A);
    background-image: -ms-linear-gradient(top, #5A7BA2, #4D698A);
    background-image: -o-linear-gradient(top, #5A7BA2, #4D698A);
}

.cloud1:after, .cloud3:after, .cloud4:after, .cloud2:after, .cloud-big:after,
.cloud1:before, .cloud2:before, .cloud3:before, .cloud4:before, .cloud-big:before {
     background-color: #5A7BA2;
    background-image: -webkit-linear-gradient(top, #5F82AC 10%, #4D698A);
    background-image: -moz-linear-gradient(top, #5F82AC, #4D698A);
    background-image: -ms-linear-gradient(top, #5F82AC, #4D698A);
    background-image: -o-linear-gradient(top, #5F82AC, #4D698A);
}

.cloud1-more, .cloud2-more, .cloud3-more, .cloud4-more, .cloud-big-more, .cloud3-more:after, .cloud4-more:after {
    background-color: #5A7BA2;
    background-image: -webkit-linear-gradient(top, #668BB9 10%, #4D698A);
    background-image: -moz-linear-gradient(top, #668BB9, #4D698A);
    background-image: -ms-linear-gradient(top, #668BB9, #4D698A);
    background-image: -o-linear-gradient(top, #668BB9, #4D698A);
}

.cloud1-more:before, .cloud2-more:before, .cloud2-more:after, .cloud3-more:before, .cloud4-more:before,
.cloud-big-more:before, .cloud-big-more:after, .cloud1-more:after {
    background-color: #5A7BA2;
    background-image: -webkit-linear-gradient(top, #668BB9 10%, #506F8E);
    background-image: -moz-linear-gradient(top, #668BB9, #506F8E);
    background-image: -ms-linear-gradient(top, #668BB9, #506F8E);
    background-image: -o-linear-gradient(top, #668BB9, #506F8E);
}
#sun_hours h3{
    color:#fff;
}

.white_box {
 background:rgba(255, 255, 255, 0.7);
}

.speach:after {
    opacity:0.8;
}

.now_messages h2 {
    border-color:#3D718E;
}
#about, #did_you_know h2{
    border-color:#C3D0D6
}
.now_messages a .white_box {
     background:rgba(255, 255, 255, 0.7);
}

.email_form .search-query{
     background:rgba(255, 255, 255, 0.7);
}

#did_you_know a, #about{
    color:#C3D0D6;
}

#moon_rise {
    
}

#sun_rise {
     background-image:url("../img/sun_white.png");
}

#peak_max {
    background-image:url("../img/peak_max_white.png");
}

#peak_min {
    background-image:url("../img/peak_min_white.png");
}

#avarage_max {
    background-image:url("../img/avarage_max_white.png");
}

#avarage_min {
    background-image:url("../img/avarage_min_white.png");
}

#morning_icon {
    background-image:url("../img/morning_icon_night.png");
}

#noon_icon {
    background-image:url("../img/noon_icon_night.png");
}

#night_icon {
    background-image:url("../img/night_icon_night.png");
}

#pics p {
    color:#2C3A42;
}

#forum_rules, .white_box2 p{
    color:#2C3A42;
}

.seker_btns {
    color:#2C3A42;
}

h2 {
    color:#fff;
}

.more_icons a{
     color:#C3D0D6;
}

.more_icons a:hover{
     color:#fff;
}

#outside_links a {
     color:#C3D0D6;
}
.white_box h2 {
    color:#3D718E;
}
.speach h2 {
     color:#2C3A42;
     border-color:#2C3A42;
}

.speach {
     color:#2C3A42;
}

.tashkif .forcast_day{
    color:#C3D0D6;
}

.main_nav a{
    color:#fff;
}

.main_nav a:hover{
    color:#2C3A42;
}

.main_nav .active{
    background-color:#fff;
    color:#2C3A42;
}

.footer {
    background-image:url("../img/footer_moon.png");
}

#tree {
    position:absolute;
    background:url("../img/tree_night.png") no-repeat;
    background-position:top right;
    height:1200px;
    width:441px;
    left:930px;
    top:400px;
    z-index:8;
}

#crow {
    position:absolute;
    background:url("../img/owl.png") no-repeat;
    background-position:left;
    height:100px;
    width:100px;
    left:978px;
    margin-top:57px;
    z-index:500;
}

#stars {
    background: url("../img/stars.png") no-repeat center top;
    left:20px;
    height:100%;
     width: 100%;
    display: table;
    position:absolute;
}

#forum {
     background-color: #a4b863;
}

#forum_rules {
    color:#2C3A42;
}

#forum_bg {
    background-image:url("../img/forum_bg_night.png");
    background-repeat:no-repeat;
    left:0;
    height:1000px;
    width:2255px;
    margin-top:-400px;
    position:absolute;
    z-index:15;
}

.footer{
    color:#fff;
}
.inparamdiv{
	background: rgba(255, 255, 255, 0.6);
}
.inparamdiv a, #season_btn a, .trendsvalues{
	color:#2C3A42;
}
#msgDetails{
	color:#3C4F5D;
}
.seker_btns li{
background: rgba(255, 255, 255, 0.4);
}

#forum_sidebar a
{
    color:#2C3A42
}
ins, mark{
    background: #616F9B;
}
#tempdivvalue{color:#ffffff}

