RewriteEngine on
DirectoryIndex index.php small.php
RewriteBase "/home/boazn/public/02ws.com/public/"
RewriteCond %{REQUEST_URI} ^/?(css|fonts|img|js)(/.*)?$ [NC]
RewriteRule ^.*$ /home/boazn/public/02ws.com/public/%1%2 [L]
